body {
  background-color: white;
  display: flex;
  font-family: 'Roboto';
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.cont {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 10vh;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
h1, h2,h3, p {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 400%;
  padding: 0;
  margin: 0;
  justify-content: center;
}
h1 {
  font-size: 12em;
}
h2 {
  text-align: right;
  border-bottom: 1px solid white;
}
.smalltext {
  font-size: 50%;
}
p {
  font-size: 3em;
}
#currencies {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5em;
}

.currency {
  border: 1px solid white;
  width: 25%;
  padding: 1em;
  margin: 0;
  background-color: #4CBB17;
  flex-grow: 3;
}
.currency>p {
  font-size: 1em;
}
.time-keeper {
  font-size: 1em;
  position: absolute;
  bottom: 0px;
  text-align: left;
  padding-left: 1em;
}
.negative {
  background-color: #8b0000;
}
@media only screen and (max-width: 960px) {
	body {
		flex-direction: column;
	}
	.cont {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	#currencies {
		padding-left: 0;
	}
	.currency {
		width: 10%;
		max-height: 25%;
	}
	h2,h3 {
		font-size: 3em;
		width: 50%;
		text-align: center;
		border-bottom: 0;
	}
	h3 {
		text-align: right;
	}
	h2 {
		text-align: left;
	}
	h1 {
		font-size: 6em;
	}
	.currency>p {
		font-size: 1em;
	}
	.time-keeper {
		margin: 0;
	}
}
@media only screen and (max-width: 480px) {
	.currency {
		display: none;
	}
	.best-coin {
		display: block;
	}
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.best-coin {
	background-color: #0168AD;
}