body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
h1, h2,h3, p {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 400%;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 12em;
  padding-top: 10vh;
}
.smalltext {
  font-size: 50%;
}
p {
  font-size: 3em;
}
